.container {
  width: fit-content;

  @media ( width >= 1280px ) {
    position: absolute;
    top: 6rem;
    right: 1rem;
    z-index: 50;
    margin: auto;
  }
}

.badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-text);
  padding: 0.5rem 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.indicatorWrapper {
  position: relative;
}

.pulseRing {
  position: absolute;
  inset: 0;
  background-color: rgb(34 197 94);
  border-radius: 0.375rem;
  opacity: 0.75;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.greenSquare {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgb(34 197 94);
  border-radius: 0.375rem;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}