.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
  opacity: 0;
}

.barLarge {
  width: 12px;
  height: 100%;
  background: var(--color-text);
}

.barSmall {
  width: 4px;
  height: 100%;
  background: var(--color-text);
}

.faded  {
    .barLarge, .barSmall {
        opacity: 0.17;
    }
}