@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

@import "tailwindcss";


:root {
  /* Color Palette */
  --color-white: #ebebeb;
  --color-not-white: #dbdbdb;
  --color-not-black: #464646;
  --color-light-gray: #c0c0c0;
  --color-dark-gray: #585858;
  --color-transparent: transparent;

  /* Semantic Colors */
  --color-bg: var(--color-not-white);
  --color-text: var(--color-not-black);
  --color-light-text: var(--color-white);

  /* Accent Colors */
  --color-muted: var(--color-light-gray);
  --color-accent: var(--color-not-black);
  --color-warm: var(--color-dark-gray);

  /* Additional Colors */
  --color-old-cream: #b8b39c;
  --cream-color: var(--color-old-cream);


  /* Button Colors */
  --btn-primary-bg: var(--color-not-black);
  --btn-primary-text: var(--color-light-text);
  --btn-primary-bg-hover: var(--color-white);
  --btn-primary-text-hover: var(--color-text);

  --btn-secondary-bg: transparent;
  --btn-secondary-bg-hover: transparent;
  --btn-secondary-text: var(--color-text);
  --btn-secondary-text-hover: var(--color-text);
  --btn-secondary-border: var(--color-not-black);

  /* Other Variables */
  --letter-spacing-default: 0.1rem;
  --letter-spacing-wide: 0.4rem;
  --letter-spacing-wider: 0.7rem;
  --text-shadow-subtle: 0.3rem 0.3rem 0 rgba(77, 73, 62, 0.3);

  /* Layout Variables */
  --max-content-width: 1200px;

  --screen-width-small: 640px;
  --screen-width-medium: 768px;
  --screen-width-large: 1024px;
  --screen-width-xlarge: 1280px;
  --screen-width-xxlarge: 1536px;
}

html, body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: var(--letter-spacing-default);
  line-height: 1.6;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-size: 4px 4px;
  background-image: 
    linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,0.04) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,0.04) 4px);

  box-shadow: inset 0 0 40px rgba(77, 73, 62, 0.4), inset 0 0 40px rgba(77, 73, 62, 0.3);
}

h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 32px;
  letter-spacing: var(--letter-spacing-wide);
  text-shadow: var(--text-shadow-subtle);

  @media (width >= 768px) {
    font-size: 2rem;
    letter-spacing: var(--letter-spacing-wider);
  }

  @media (width >= 1024px) {
    font-size: 2.5rem;
    letter-spacing: var(--letter-spacing-wide);
    margin-bottom: 64px;
  }

  @media (width >=  1280px) {
    letter-spacing: var(--letter-spacing-wider);
  }
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-bottom: 1em;
}

button {
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  position: relative;
  box-sizing: content-box;
  border-left: none;
  border-right: none;
  border: none;
  border-radius: 0px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--btn-primary-bg-hover);
  color: var(--btn-primary-text-hover)
}

button.secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
  border: 0px solid var(--btn-secondary-border);
}

button.secondary:hover {
  background-color: var(--btn-secondary-bg-hover);
  color: var(--btn-secondary-text-hover);
}

button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 3px;
  bottom: 3px;
  width: 0;
  background-color: var(--btn-primary-bg-text);
  transition: width 0.2s;
}

button:hover::before,
button:focus::before {
  width: 100%;
}


#page-body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @media (width >= 640px) {
    max-width: 640px;
  }

  @media (width >=  768px) {
    max-width: 768px;
  }

  @media (width >=  1024px) {
    max-width: 1024px;
  }

  @media (width >=  1280px) {
    max-width: 1280px;
  }

  @media (width >=  1536px) {
    max-width: 1536px;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  }





main {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  flex: 1 1 0%;

  padding-left: 16px;
  padding-right: 16px;

  
  padding-bottom: 5rem;

  @media (width >= 640px) {
    max-width: 640px;
  }

  @media (width >=  768px) {
    max-width: 768px;
    
  }

  @media (width >=  1024px) {
    max-width: 1024px;
    padding-top: 2rem;
  }

  @media (width >=  1280px) {
    max-width: 1280px;
  }

  @media (width >=  1536px) {
    max-width: 1536px;
  }
}


.menu-link {
  position: relative;
  display: inline-block;
  background-color: #C8C2AD;
  overflow: hidden;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: color 0.3s ease;
  z-index: 0;
  cursor: pointer;
  opacity: 0;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, opacity 0.3s ease-out;
}

.animate {
  animation-name: fadeInScale;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.menu-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #4D493E;
  transition: height 0.3s ease;
  z-index: -1;
}

.menu-link:hover::before {
  height: 100%;
}

.menu-link:hover {
  color: white; /* optional: text color change on hover */
}


@layer utilities {
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    @apply bg-gray-100 text-black;
    box-shadow: 0 0 0px 1000px #f0f0f0 inset;
  }
}

.clampMaxWidth {
  max-width: inherit;
  margin-left: auto;
  margin-right: auto;

  @media (width >= 640px) {
    max-width: 640px;
  }

  @media (width >=  768px) {
    max-width: 768px;
  }

  @media (width >=  1024px) {
    max-width: 1024px;

  }

  @media (width >=  1280px) {
    max-width: 1280px;
  }

  @media (width >=  1536px) {
    max-width: 1536px;
  }
}