.container {
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin: 0;
}