/* data/projects/tags-bar.module.css */
.tagsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  color: var(--color-light-gray);
  width: 100%;
  margin-bottom: 1rem;
}

.tagsLeft {
  display: flex;
  align-items: center;
}

.dateRight {
  font-weight: 500;
}

.separator {
  margin: 0 0.5rem;
  opacity: 0.5;
}