@keyframes stretchIn {
  0% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    max-height: 2000px;
    transform: scaleY(1);
  }
}

.stretchIn {
  animation: stretchIn 0.3s ease-out forwards;
  overflow:hidden;
  transform-origin: center;
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInFromRight {
    animation: fadeInFromRight 0.4s ease-out forwards;
}